@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
	background: url('background.png');
}

h1, h2, h3, h4, h5, h6, li{
	font-family: 'Pixelify Sans';
}


div {
	text-align: left;
	background: #f1f1f1;
	padding: 2px;
	border-radius: 25px;
	margin: 10px;
	margin-right: 50%;
	margin-bottom: 20px;
}

div > * {
	margin-left: 40px; 
}